[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "enmSdmX"]
	path = enmSdmX
	url = https://github.com/adamlilith/enmsdmx
[submodule "fasterRaster"]
	path = fasterRaster
	url = https://github.com/adamlilith/fasterraster
[submodule "omnibus"]
	path = omnibus
	url = https://github.com/adamlilith/omnibus
[submodule "statisfactory"]
	path = statisfactory
	url = https://github.com/adamlilith/statisfactory
